.NavBar2,
.MenuBtn {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid var(--rgba-primary);
  padding: 4px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--rgba-secondary);

}

.logo {
  color: var(--color-primary);
  font-size: 1.25rem;
  padding: 0 0.25rem;
}

.logo:hover {
  background-color: var(--rgba-primary);
}

/* end of header */

.NavigationMenuRoot {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  align-items: center;
}


.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--color-primary);
}

.NavigationMenuLink:focus {
  box-shadow: 0 0 0 2px var(--color-primary);
}

.NavigationMenuLink:hover {
  background-color: var(--rgba-primary);
}

.NavigationMenuLink {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
}

/* end of desktop nav menu */

section[class="hero"] .container {
  display: grid;
  grid-template-columns: 30% 70%;
  place-items: center;
  padding: 1rem;
}

.HomeImage {
  filter: drop-shadow(0 0 5px var(--rgba-primary));
}

article[class="info"] .delivery {
  background-color: var(--primary-color);
  width: max-content;
  padding: 0px 10px;
  margin-bottom: 1rem;
}

.LapTimerIcon {
  height: 1rem;
  width: 1rem;
  top: .125em;
  position: relative;
  margin-left: 0.5rem;
}

/* end of home section */

section[class="ProductsSection"] .container {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
  gap: 2rem;
  text-align: center;
  padding: 1rem;
}

.ProductsColumn h3 {
  padding-top: 1rem;
}

.ProductsColumn picture {
  aspect-ratio: 16/9;
}

/* end of phones section */

section[id="refurbished"] {
  background-color: var(--alternate-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(pexels-david-bartus-963278.jpg);

  @supports (background-image: url('pexels-david-bartus-963278.webp')) {
    background-image: url('pexels-david-bartus-963278.webp');
  }
}

section[id="refurbished"] .container {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
  gap: 1rem;
  place-items: center;

}

section[id="refurbished"] h2 {
  background-color: var(--secondary-color);
  color: var(--alternate-color);
  max-width: fit-content;
  padding: 0 0.5rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.RefurbArticle {
  background-color: var(--secondary-color);
  text-align: center;
  place-items: center;
  padding: 1rem;
}

.RefurbText,
.RefurbPara {
  color: var(--alternate-color);
}

/* end of refurbished section */

section[id="faq"] .container {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  place-items: center;
}

.AccordionRoot {
  width: 37.5rem;
}

.AccordionItem {
  border-bottom: 1px solid var(--primary-color);
  padding: 0.5rem;
  background-color: var(--alternate-color);
  overflow: hidden;
}

.AccordionChevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open']>.AccordionChevron {
  transform: rotate(180deg);
}

.AccordionTrigger {
  background-color: var(--alternate-color);
  color: var(--secondary-color);
  cursor: pointer;
  height: 45px;
  line-height: 1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  text-align: left;
}

.AccordionContent {
  color: var(--secondary-color);
  overflow: hidden;
  font-size: 1rem;
}

.AccordionContent[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

/* end of faqs section */

section[id="contact"] .container {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
  gap: 2rem;
  place-items: center;
}

label {
  display: block;
  margin: 0.5rem 0;
}

.form {
  margin: 0 auto;
  max-width: 400px;
  min-width: 250px;
  width: 60vw;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

input,
textarea,
select,
legend {
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input,
textarea {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--alternate-color);
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--tertiary-color);
  margin-top: 1em;
  margin-bottom: 1em;
  min-width: 250px;
  transition: var(--transition);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

ul[class="contact_details"] li,
h4 {
  padding: 0.5rem 0;
}

/* end of contact section */

footer a {
  color: var(--secondary-color);
}

footer a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

section[id="footer-socials"] {
  padding: 0 1.875rem 1.25rem;
}

ul[class="footer-icons"] {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
  border-top: 1px solid var(--secondary-color);
}

ul[class="footer-icons"] li {
  margin: 0.5rem;
}

.footer-icons svg:hover {
  fill: var(--primary-color);
}

/* legal section */

section[id="footer-legal"] a {
  color: var(--color-secondary);
}

section[id="footer-legal"] {
  padding: 0.9375rem 1.875rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);

}

ul[class="footer-legal-items"] {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

ul[class="footer-legal-items"] li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

.footer-legal-items li:nth-of-type(2) {
  flex: 1;
}

/* end of desktop section */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--desktop-container);
  }

  .NavigationMenuRoot {
    display: none;
  }

  .MenuBtn {
    display: initial;
  }

  .NavBar2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    transition: var(--transition);
    height: 100vh;
    width: 16rem;
    padding: 1rem;
    left: -100%;
    background-color: var(--secondary-color);
  }

  .NavBar2 li {
    padding: 1.5rem;
    width: 100%;
  }

  .NavBar2 li a {
    color: var(--primary-color);
    line-height: 1;
    font-size: 13px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 0 5px;
    outline: none
  }

  .NavBar2 a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .show_nav {
    left: 0;
  }

  .hide_nav {
    left: -100%;
  }

  .MenuBtn {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    margin-right: 1rem;
    color: var(--secondary-color);
    align-items: center;
    justify-content: center;
  }

  .IconButton {
    height: 24px;
    width: 24px;
  }

  header {
    border-bottom: 1px solid var(--rgba-primary);
  }

  /*end of hamburger menu */

}