
:root {
    --primary-color: #BFBFBF;
    --secondary-color: #000000;
    --tertiary-color: #575757;
    --alternate-color: #FFFFFF;
    --rgba-primary: rgba(0, 0, 0, 0.1);
    --rgba-secondary: rgba(255, 255, 255, 0.8);
    --desktop-container: 86%;
    --mobile-container: 90%;
    --transition: all 0.3s linear;
    --radix-accordion-content-height: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    line-height: 1.75;
    color: var(--secondary-color);
    background-color: var(--alternate-color);
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    width: var(--desktop-container);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

a {
    color: var(--secondary-color);
    transition: var(--transition);
}

h1,
h2,
h3,
h4 {
    color: var(--secondary-color);
}

.btn {
    padding: 5px 20px;
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    transition: var(--transition);
    margin: 1rem auto;
    font-size: 1rem;
}

.btn:hover {
    background-color: var(--primary-color);
}

.BtnPrimary:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

section {
    padding: 4rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 3rem;
}

html,
body {
    width: auto;
    overflow-x: hidden;
}

/* End of global styling */